.axios_container {
	width: 80vw;
	height: 80vh;
	background-color: rgba(255, 255, 255, 0.411);
	margin: auto;
}

.axios_addtask_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 8vw;
}

.axios_addtask_container > input {
	height: 30%;
}

.task_container {
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	border: 1px white solid;
	width: 20vw;
	height: 30vh;
	padding: 10px;
	margin: 10px;
}

.task_container div + h1 {
	text-shadow: .5px .5px;
	font-weight: bold;
}

.axios_alltasks_container {
	display: flex;
	height: 80%;
	justify-content: center;
	overflow-y: scroll; 
	flex-wrap: wrap;
}