.main_page_container {
  width: 100vw;
  height: 100vh;
  background-color: lightslategray;
}

.main_page_header {
  width: 100vw;
  height: 80px;
  background-color: lightcoral;
  position: fixed;
}

.main_page_header section {
  font-size: 20px;
  font-weight: lighter;
  color: rgb(44, 44, 44);
}
